In [1]:
print(3 + 8)

11

In [2]:
print(len('square'))

6

In [3]:
print(2**8)

256

In [1]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

In [2]:
print(fruits)

['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [4]:
uppercased_fruits = [x.upper() for x in fruits]
print(uppercased_fruits)

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [17]:
capital_fruits = [x.capitalize() for x in fruits]
print(capital_fruits)

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange', 'Plum', 'Cherry']

In [16]:
vowels = 'aeiouAEIOU'
fruits_with_more_than_two_vowels = []
count = 0
for x in fruits:
    for char in x:
        if char in vowels:
            count = count + 1
    if count >= 2:
        fruits_with_more_than_two_vowels.append(x)
    count = 0
print(fruits_with_more_than_two_vowels)

['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [19]:
vowels = 'aeiouAEIOU'
fruits_with_only_two_vowels = []
count = 0
for x in fruits:
    for char in x:
        if char in vowels:
            count = count + 1
    if count == 2:
        fruits_with_only_two_vowels.append(x)
    count = 0
print(fruits_with_only_two_vowels)

['mango', 'kiwi', 'strawberry']

In [2]:
fruits_less_five = []
for x in fruits:
    if len(x) < 5:
        fruits_less_five.append(x)
print(fruits_less_five)

['kiwi']

In [6]:
day = input("Whay day is it: ")
if str(day).lower() == "monday":
    print("It is Monday")
else:
    print("It most certainly is not Monday")

Whay day is it: Monday
It is Monday

In [10]:
weekday = input("What day is it : ")
if str(weekday).lower() == "saturday" or str(weekday).lower() == "sunday":
    print("WEEKEND BABY")
else:
    print("It's a weekday")

What day is it :sunday
WEEKEND BABY

In [15]:
rate = 20
hours = input("How many hours have you worked this week? ")
if float(hours) <= 40:
    paycheck = rate * float(hours)
else:
    paycheck = (40 * rate) + ((float(hours) - 40) * rate * 1.5)
print(paycheck)

How many hours have you worked this week? 5
100.0

In [19]:
i = 5
while i <= 15:
    print(i)
    i = i + 1

5
6
7
8
9
10
11
12
13
14
15

In [20]:
x = 0
while x <= 100:
    print(x)
    x = x + 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [21]:
x = 100
while x >= -10:
    print(x)
    x = x - 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0
-5
-10

In [22]:
x = 2
while x <= 1000000:
    print(x)
    x = x**2

2
4
16
256
65536

In [26]:
x = 100
while x >= 5:
    print(x)
    x = x - 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [41]:
number = input("Gimme a number we're doing math, loser: ")
for i in range(1, 11):
    print(str(number) + " " + "X" + " " + str(i) 
    + " " + "=" + " " + str(int(number) * i))

Gimme a number we're doing math, loser: 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [47]:
for i in range(1, 10):
    print(i * str(i))

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [3]:
while True:
    odd_num = input("Give me an odd number between 0 and 50: ")
    if odd_num.isdigit() and int(odd_num) > 0 and int(odd_num) < 50 and int(odd_num) % 2 != 0:
        break
print("Number to skip is:" + " " + str(odd_num))
for i in range(1, 51, 2):
    if int(odd_num) != i:
        print("Here is an odd number:" + " " + str(i))
    else:
        print("Yikes! Skipping number" + " " + str(odd_num))

Give me an odd number between 0 and 50: 2345
Give me an odd number between 0 and 50: 0
Give me an odd number between 0 and 50: 22
Give me an odd number between 0 and 50: 37
Number to skip is: 37
Here is an odd number: 1
Here is an odd number: 3
Here is an odd number: 5
Here is an odd number: 7
Here is an odd number: 9
Here is an odd number: 11
Here is an odd number: 13
Here is an odd number: 15
Here is an odd number: 17
Here is an odd number: 19
Here is an odd number: 21
Here is an odd number: 23
Here is an odd number: 25
Here is an odd number: 27
Here is an odd number: 29
Here is an odd number: 31
Here is an odd number: 33
Here is an odd number: 35
Yikes! Skipping number 37
Here is an odd number: 39
Here is an odd number: 41
Here is an odd number: 43
Here is an odd number: 45
Here is an odd number: 47
Here is an odd number: 49

In [4]:
max([1, 2, 3])

3

In [5]:
type(max([1, 2, 3]))

int

In [6]:
type(max)

builtin_function_or_method

In [7]:
print

In [8]:
print()

In [9]:
def increment(n):
    return n + 1

In [10]:
increment(30)

31

In [11]:
def increment(n):
    print(n + 1)

In [12]:
increment(6)

7

In [2]:
def nonzero(n):
    if n != 0:
        return True
    else:
        return False

In [25]:
nonzero(0)

False

In [4]:
user_num = input("pick a number: ")
if nonzero(int(user_num)):
    print("That is not a zero")
else:
    print("We got a zero")

pick a number: 0
We got a zero

In [ ]:
user_num = input("pick a number: ")
if nonzero(int(user_num)):
    print("That is not a zero")
else:
    print("We got a zero")

In [1]:
def change_it(x):
    x = x + 1
    x = 42
print(x)
change_it(x)
print(x)

NameError: name 'x' is not defined

In [ ]:
sorted(students, key = lambda s: s['name'].split()[1])

In [10]:
def is_two(x):
    if int(x) == 2:
        return True
    else:
        return False

In [3]:
is_two(8)

False

In [11]:
is_two(2)

True

In [12]:
def is_vowel(x):
    vowel = 'aeiou'
    if x.lower() in vowel:
        return True
    else:
        return False

In [13]:
is_vowel("e")

True

In [14]:
is_vowel("d")

False

In [15]:
is_vowel("O")

True

In [19]:
def is_consonant(x):
    vowel = 'aeiou'
    if x.lower() not in vowel:
        return True
    else:
        return False

In [20]:
is_consonant('x')

True

In [21]:
is_consonant("E")

False

In [22]:
is_consonant("D")

True

In [27]:
def cap_them_cons(x):
    vowel = 'aeiou'
    if x.lower()[0] not in vowel:
        return x.capitalize()
    else:
        return x

In [28]:
cap_them_cons('title')

'Title'

In [29]:
cap_them_cons('abbicus')

'abbicus'

In [30]:
def calculate_tip(x, y):
    return x * y

In [31]:
calculate_tip(123, .2)

24.6

In [32]:
def apply_discount(o_price, percent):
    return (1 - (.01 * percent)) * o_price

In [33]:
apply_discount(percent = 25, o_price = 100)

75.0

In [34]:
apply_discount(o_price = 12, percent = 25)

9.0

In [35]:
sum(a, e , i)

NameError: name 'a' is not defined

In [63]:
def handle_commas(x):
    x = x.replace(',', '')
    return x

In [64]:
handle_commas("99,286")

'99286'

In [65]:
def get_letter_grade(x):
    if x >= 90:
        return 'A'
    elif x >= 80:
        return 'B'
    elif x >= 70:
        return 'C'
    elif x >= 60:
        return 'D'
    else:
        return 'F'

In [66]:
get_letter_grade(88)

'B'

In [67]:
get_letter_grade(76)

'C'

In [68]:
get_letter_grade(69.999)

'D'

In [69]:
get_letter_grade(36)

'F'

In [70]:
get_letter_grade(98)

'A'

In [72]:
def remove_vowels(x):
    vowel = 'aeiou'
    for y in x:
        if y.lower() in vowel:
            x = x.replace(y, '')
    return x

In [73]:
remove_vowels('annagram')

'nngrm'

In [74]:
remove_vowels('delinquent')

'dlnqnt'

In [88]:
def normalize_name(x):
    x = x.strip()
    x = x.lower()
    for y in x:
        if y not in ('abcdefghijklmnopqrstuvwxyz '):
            x = x.replace(y, '')
        if y == ' ':
            x = x.replace(y, '_')
    return x

In [89]:
normalize_name('    Sean2 Connery')

'sean_connery'